<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio con motor de Plantillas 🌿</title>
</head>
<body>
    <h1>Te amo Ferchis <%= titulo %> <%= parametro %> </h1>
    <h2> <%= parametro %> </h2>
</body>
</html>